*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3; /* Adjust the value as needed */
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 200px; /* Adjust the value as needed */
}
.cookie-banner {
    margin-top: 2.5rem;
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: fit-content;
    z-index: 30;
}

.cookie-banner.hidden {
    display: none;
}

.cookie-banner.visible {
    display: block;
}

.cookie-banner-inner {
    position: relative;
}

.cookie-banner-content {
    background-color: aliceblue;
    border: 3px solid #000000;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
}

.cookie-banner-text {
    text-align: center;
}

.cookie-banner-text p {
    margin-right: 0.75rem;
}

.cookie-banner-buttons {
    display: flex;
    gap: 0.5rem;
}

.decline-button {
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
}

.accept-button {
    background-color: green;
    color: white;
    padding: 0.5rem 1rem;
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
}